html {
    font-size: 18px;
    background-color: rgb(252, 176, 206);
}
/*header*/

.header  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(236, 126, 165);
    padding: 0px 10px;
    height: 4rem;
 }
 
 .header li{
    display: inline;
    font-family:'Noto Serif TC', serif;
    font-weight: bold;
    background-color:rgb(204, 106, 147);
    padding-right: 2rem;
 }
 
.header .logo {
    flex-grow: 1;
    color: rgb(128, 35, 67);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem; 
 }
 /* Banner */
 .banner{
    background: url("./IMG/banner.jpg");
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }
.banner h1 {
        background-color:rgb(240, 183, 207);
        width: 200px;
        text-align: center;
        color: rgb(231, 117, 161);
        margin-top: 200px;
        margin-left: 29px;
        border-top: 6px solid rgb(196, 21, 143 );
        border-bottom: 6px solid rgb(196, 21, 143 )
}
.banner h2 {
    background-color: rgb(197, 138, 157);
    width: 200px;
    text-align: center;
    color: white;
    margin-top: 220px;
    margin-left: 25px;
 }
 
 /*MV*/
 .MV{
   text-align: center;
   margin-top: 100px;
   color: rgb(183, 31, 100);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 0.1rem;
 }
     
 